#!/usr/bin/env xdg-open

[Desktop Entry]
Name=GIMP
Version=1.0
Type=Application
Terminal=false
Exec=/opt/GIMP/GIMP.AppImage
Comment=Image Editor
Icon=/opt/GIMP/GIMP.svg
Categories=ImageEditor;
StartupNotify=true
